<div class="container">
  <h1>about ribbit</h1>
  <ul>
    <li>Egy</li>
    <li>Kettő</li>
    <li>Három</li>
    <li>Négy</li>
    <li>Öt</li>
  </ul>
</div>

<script type="text/javascript">
  $(function(){
    $('li').on("click", function(){
      $(this).hide();
    });
  });
</script>