<link rel="stylesheet" href="css/login.css">
<h1>wellcome to ribbit</h1>
<h3>enter your nickname</h3>
<form action="">
  <input id="nickName" autocomplete="off" /><button>OK</button>
</form>
<script src="script/home.js"></script>
